main {
    text-align: center;
    display: flex;
    justify-content: center;
}

#boiteConnex {
    margin-top: 150px;
    border: 5px solid #1e325b;
    height: 100px;
    background-color: #58973c;
    display: flex;
    align-items: center;
}


#formulaire table {
    padding: 10px;
}

#submitConnex {
    margin-top: 10px;
    border-radius: 10px;
    padding: 8px;
    background-color: #d6d503;
}

#finalsubmit {
    border-radius: 10px;
    padding: 8px;
    background-color: #d6d503;
}


