#conteneur{
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    /*background-image: url("../images/fond3.png");*/
    background-repeat: repeat-x;
}

header {
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 5px;
}

nav {
    text-align: center;
}

main {
    height: 540px;
    margin-left: auto;
    margin-right: auto;

}
.menuPrincipal {
    text-align: center;
    padding-top: 20px;
}

.menuPrincipal ul{
    list-style-type: none;
}

.menuPrincipal li{
    display: inline-block;
    width: 240px;
    height: 130px;
    font-size: 17px;
    font-weight: bold;
    vertical-align: bottom;
    color: #aec5d3;
}

.menuPrincipal li:hover
{
    color: #d98860;
}

.menuPrincipal img{
    width: 80px;
}

.menuPrincipal img:hover{
    width: 100px;
}

.menuPrincipal .actif img{
    width: 100px;
}

.menuPrincipal .actif{
    color: #ffffff;
}

.menuPrincipal .actif:hover
{
    color: #ffffff;
}