#conteneur{
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    background-image: url("../images/fond3.png");
    background-repeat: repeat-x;
}

header {
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 5px;
}

nav {
    text-align: center;
}

main {
    height: 540px;
    margin-left: auto;
    margin-right: auto;
}

.menuPrincipal {
    text-align: center;
    padding-top: 20px;
    background: #32b4b5;
}

.menuPrincipal ul{
    list-style-type: none;
}

.menuPrincipal li{
    display: inline-block;
    width: 240px;
    height: 130px;
    font-size: 17px;
    font-family: Helvetica;
    font-weight: bold;
    vertical-align: bottom;
    color: #aec5d3;
}

.menuPrincipal li:hover
{
    color: #d98860;
}

.menuPrincipal img{
    width: 80px;
}

.menuPrincipal img:hover{
    width: 100px;
}

.menuPrincipal .actif img{
    width: 100px;
}

.menuPrincipal .actif{
    color: #ffffff;
}

.menuPrincipal .actif:hover
{
    color: #ffffff;
}

/**********************
Style pour la connexion
**********************/


#connexion{
    font-family: Helvetica;
    width: 400px;
    background-image: url("../images/fond3.png");
    margin-left: auto;
    margin-right: auto;
    height: 240px;
    display: flex;
}

#boiteConnex{
    font-size: 15px;
    width: 400px;
    height: 240px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
}

#connexion #titre{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: skyblue;
    padding: 16px;
    margin-bottom: 10px;
}

#connexion table{
    width: 100%;
}

#connexion tr{
    height: 40px;
}


#connexion label{
    display: inline-block;
    width: 110px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;

}

#connexion input[type=text][type=password]{
    width: 200px;
    padding-left: 0px;
}

#connexion input[type=submit]{
    width: 250px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#connexion .messageErreurConnexion{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: red;
}